body {
  background: #fff;
  color: #333;
  font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
  font-size:16px;
  margin: 0;
  padding: 0;
  text-align: center;
  min-width:960px;
  font-family: Consolas, Monaco, "Lucida Console", monospace;
}
html,body {
  margin:0;
  padding:0;
  height:100%;
}
h1 {
  font-weight: 400;
  height: 5%;
  float:left;
  margin: 20px 0 0 29px;
  color: #666;
  font-size:16px;
}
#canvas {
  height: 100%;
  text-align: left;
  width: 100%;
  position:absolute;
}
#text {
  position:absolute;
  top:20px;
  right:20px;
  width:100%;
  text-align:right;
}
#code, #console, #tutorial {
  height: 600px;
  width: 480px;
  margin: 0 0 20px 0;
  padding: 8px;
  background: #222;
  border: 1px solid #9D8553;
  color: #ffcf6f;
  display:none;
  text-align:left;
  position:relative;
  font-size:16px;
  float:right;
}
#tutorial {
  max-height: 600px;
  overflow: auto;
}
#tutorial p, #tutorial pre {
  margin-left: 0px;
}
#tutorial p {
  text-align:center;
  border: 1px dashed #777;
  margin-top:0px;
  padding: 4px 0;
}
#input {
  position:absolute;
  bottom:8px;
  width:474px;
  height:70px;
  font-size:16px;
}
#output {
  max-height:515px;
  overflow: auto;
}
.error {
  color: #f32;
  font-weight:bold;
}
.print {
  color: #0d4;
  font-weight:bold;
}
.normalOutput {
  color: #efefef;
  font-weight:bold;
}
p {
  color: #999;
  margin: 20px 0 0 29px;
}
p, pre {
  text-align: left;
  font-size:16px;
}
pre {
  margin: 12px 0 20px 29px;
}
pre span {
  color: #888;
}
a, a:visited {
  color: #ddd;
  text-decoration: none;
}
a:hover {
  color: #fff;
  text-decoration: underline;
}
#buttons {
  clear:both;
}
#buttons button {
  font-size:13px;
  font-weight:bold;
  border: 1px solid #888;
  padding: 3px 8px;
  background: #111;
  color: #ffcf6f;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  margin-bottom:12px;
  outline: 0;
}
#buttons button:hover {
  background: #C9A459;
  color: #111;
}
